/* Estilos de la barra de menu */
html{
    font-size: 62.5%;
    box-sizing: border-box;
}

*, *::before, *::after{
    box-sizing: inherit;
}

body{
    padding: 0;
    margin: 0;
    line-height: 1.6;
    font-family: Arial, sans-serif;
    background: url(./fondo/Fondo.jpg)no-repeat center center fixed;
    background-size: cover;
}

/*Referenciamos a las clases que deseamos asignar diseños en particular con el ".+ el nombre de la clase definido en html" */
.logo{
    width: 90px;
    height: 55px;
}

.a{
    color: #DE5617;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-around;
    min-height: 8vh;
    background-color: #DE5617;
}

.ham{
    display: none;
    cursor: pointer;
    border: none;
    margin: 0;
    padding: 0;
    background-color: transparent;
}

.ham span{
    display: block;
    background-color: antiquewhite;
    height: 3px;
    width: 28px;
    margin: 10px auto;
    border-radius: 2px;
}

.enlaces-menu{
    display: flex;
    padding: 0;
}

.enlaces-menu li{
    padding: 0 40px;
    list-style-type:none;
    transition: 0.3s;
}

.enlaces-menu li a{
    text-decoration: none;
    font-size: 1.8rem;
    color: #ffffff;
    font-weight: 600;
}

.enlaces-menu li:hover{
    background-color: rgb(62, 130, 197);
}
/* Dispositivos moviles */
/* En este apartado se hace referencia a el diseño en dispositivos moviles o al minizar la pantalla en donde se ve la pagina */
/* gracias a esto el contenido aun es visible, en este caso tomamos como ejemplo el menù para aplicar dicho principio*/
/* Tenenmos que volver a referenciar cada una de las clases y darles un diseño, segun el punto de vista del programador */
@media(max-width: 768px){
    body{
        overflow: hidden; 
    }

    .logo{
       padding-left: 25px;
    }


    .ham{
       display: block;
       position: absolute;
       top: 15px;
       right: 25px;
       transition: 0.2s 0.1s;
    }


    
    .ham:hover{
        transform: rotate(360deg);

    }
    
    nav{
        flex-direction: column;
        align-items: flex-start;
        padding: 25px 0;
    }

    
    .enlaces-menu{
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 92vh;
        margin: 0;
        padding: 0;
        width: 100%;
        display: none;
        opacity: 0;
    }

    .enlaces-menu li{
        width: 100%;
        text-align: center;
        padding: 20px;
    }

}


@keyframes muestraMenu{
    
    from{opacity: 0;}
    to{opacity: 1;}
}

.enlaces-menu.activado{
    display: flex;
    animation: muestraMenu 350ms ease-in-out both; 
}



.br-1.animado{
    transform: rotate(-45deg) translate(-10px, 8px);
}

.br-2.animado{
    opacity: 0;
}

.br-3.animado{
    transform: rotate(45deg) translate(-10px, -8px); 
}


